h1 {
  font-family: 'VT323', monospace;
  text-transform: uppercase;
}

body {
  background-color: #000;
}

#header-image {
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#navbar-image {
  width: 10%
}

.button-wrapper {
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  color: #000;
  background-color: #fff;
  border: 1px;
  padding: 10px;
  margin: 2px;
  font-size: 36px;
  font-family: 'VT323', monospace;
  text-transform: uppercase;
}

.pokemon-list {
  list-style-type: none;
}

button:hover,
button:focus,
.btn-primary:hover,
.btn-primary:focus {
  opacity: 1.0;
  color: #000;
  background-color: #fff;
  transform: scale(1.2);
  box-shadow: 1px 5px 30px 1px rgba(255, 255, 255, 1.0);
  cursor: url(https://i.imgur.com/9PmuXV6.png), auto;
}

.pokemon-modal-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.modal-header {
  margin-top: 0;
  text-align: left;
  display: block;
  color: #000;
  background-color: #fff;
  padding-left: 10px;
  font-family: 'VT323', monospace;
}

.close {
  padding: 0;
  top: 0;
  float: right;
  margin: 0;
}

.modal p {
  margin-bottom: 20px;
  text-align: center;
}

#pokemonImage {
  display: none;
}

#pokemonImage.is-visible {
  display: block;
  margin: 50px auto;
}

#pokemonImage.is-visible:hover {
  cursor: url(https://i.imgur.com/9PmuXV6.png), auto;
}

#pokeball {
  display: none;
}

#pokeball.is-visible {
  display: block;
  margin: 0 auto;
}

#replacementMessage {
  display: none;
}

#replacementMessage.is-visible {
  display: block;
  color: #fff;
  font-size: 24px;
}
